services:
  gluetun: # Allows qBittorrent Web UI to run through a VPN
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${MULLVAD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${MULLVAD_ADDRESS}
      - SERVER_CITIES=Amsterdam
    env_file:
      - ../.env
    ports:
      - 8080:8080 # qBittorrent Web UI
      - 8001:8000 # Gluetun Control Server (Mapped to 8001 to avoid Seafile conflict)
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /mnt/external/appdata/qbittorrent:/config
      - /mnt/external/media/downloads:/downloads
    depends_on:
      - gluetun
    restart: unless-stopped
