services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: host
    cap_add:
      - NET_ADMIN
    environment:
      TZ: ${TZ}
      WEBPASSWORD: ${PIHOLE_PASSWORD}
    env_file:
      - ../.env
    volumes:
      - '${STORAGE_PATH}/appdata/pihole:/etc/pihole'
      - '${STORAGE_PATH}/appdata/dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
