services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${STORAGE_PATH}/appdata/jellyfin:/config
      - ${STORAGE_PATH}/data/media:/data/media
    ports:
      - 8096:8096
    restart: unless-stopped
